<div class="container">
  <h1>What is Webtree?</h1>
</div>
<div class="container">
  <mat-card fxFlex="100">
    <mat-card-content>
      <p>If you are doing something useful for society, it will do something useful in return. Our target is to describe
        the
        world that we are going to see in the future.</p>
      <p>And we're creating systems gives opportunity to this rule work.</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card fxFlex="100">
    <mat-card-subtitle>
      About main project
    </mat-card-subtitle>
    <mat-card-content>
      <p>Web Tree is non-commercial organization. Our aim is to make the future better changing our present life
        gradually with the help of non-failing plan.</p>
      <p>What is more, our goal is to create a new alternative financial system without any drawbacks comparing to
        existed ones.</p>
      <p>To achieve this big goal we need to create a set of different projects,which will have a value inherent in
        themselves.</p>
      <p>When our projects can be connected together we will be able to get the target and create successful financial
        system that helps to overcome all the disadvantages of existing ones.</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-toolbar>
    <p>There are some systems we works for:</p>
  </mat-toolbar>
</div>

<div class="container projects">
  <app-project-list></app-project-list>
</div>
<!--<div class="container projects">-->
  <!--<mat-card fxFlex="33">-->
    <!--<mat-card-header>-->
      <!--<mat-card-title>-->
        <!--<a href="https://mystuff.webtree.org" target="_blank">My stuff</a>-->
      <!--</mat-card-title>-->
    <!--</mat-card-header>-->
    <!--<mat-card-subtitle>-->
      <!--What do I use in my life?-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-content>-->
      <!--Sharing and accumulating information about all useful things you have helps you to benefit in life.-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->
  <!--<mat-card fxFlex="33">-->
    <!--<mat-card-header>-->
      <!--Trust-->
    <!--</mat-card-header>-->
    <!--<mat-card-subtitle>-->
      <!--Can we trust you?-->
      <!--Can you trust others?-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-content>-->
      <!--<p>We are looking for the reasonable objectives to trust.</p>-->
      <!--<p>The main point is our losses must be higher than our profits in case of betray.</p>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->
  <!--<mat-card fxFlex="33">-->
    <!--<mat-card-header>-->
      <!--My data-->
    <!--</mat-card-header>-->
    <!--<mat-card-subtitle>-->
      <!--Who uses my data?-->
    <!--</mat-card-subtitle>-->
    <!--<mat-card-content>-->
      <!--<p>The aim of the project is to store your personal data in one place.</p>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->
<!--</div>-->
