<mat-card>
  <p>If you do something useful for society, it do something useful for you. This principle is describe the world we want to see in the future.</p>
  <p>And we're building systems gives opportunity to this rule work.</p>
  <p>Here is some systems we works for now:</p>
  <mat-card>
    <mat-card-header>
      My stuff
    </mat-card-header>
    <mat-card-subtitle>
      What do I use in my life?
    </mat-card-subtitle>
    <mat-card-content>
      <p>System gives opportunity to share information about your stuff - everything you use in your day life.</p>
      <p>It gives to society knowledge about useful stuff.</p>

    </mat-card-content>
  </mat-card>
</mat-card>
