<div class="container">
  <p>If you are doing something useful for society, it will do something useful in return. Our target is to describe the world that we are going to see in the future.</p>
  <p>And we're creating systems gives opportunity to this rule work.</p>
  <p>There are some systems we works for:</p>
</div>
<div class="container">
  <mat-card fxFlex="50">
    <mat-card-header>
      <a href="https://mystuff.webtree.org" target="_blank">My stuff</a>
    </mat-card-header>
    <mat-card-subtitle>
      What do I use in my life?
    </mat-card-subtitle>
    <mat-card-content>
      <p>System gives opportunity to share information about your stuff - everything you use in your day life.</p>
      <p>It gives to society knowledge about useful stuff.</p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="50">
    <mat-card-header>
      Trust
    </mat-card-header>
    <mat-card-subtitle>
      We need to have a reason to trust. And we're looking for this reasons.

    </mat-card-subtitle>
    <mat-card-content>
      <p>Mission of this project is providing objective way to understand if we can trust for person, company or information.</p>
      <p>Base rule for our trust - cost of lose in case of betrayal must be higher than possible profit for it. </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card fxFlex="50">
    <mat-card-header>
      My data
    </mat-card-header>
    <mat-card-subtitle>
      Who use my data?
    </mat-card-subtitle>
    <mat-card-content>
      <p>The mission of the project is in manage your personal data in one place.</p>
    </mat-card-content>
  </mat-card>
</div>
